$white : #c5c3c6;
$font : monospace;

.psa{position:absolute}
.psr{position:relative}

.x{display: flex; flex-wrap: wrap}
.h100{height: 100%}
.w100{width: 100%;}

.center { top: 50%; left: 50%; transform: translate(-50%, -50%);}

.b { box-sizing: border-box; }


